<div class="Layout">
  <div class="Layout-sessionLayout">
    <div class="Layout-content flex-center">
      <div class="Session">
        <div class="Session-titleContainer">
          <h3 class="Session-title">
            <%= t('.sign_up', :default => "Registro") %>
          </h3>
        </div>
        <p class="Session-subtitle">
          Ya falta poco para lo mejor
        </p>
        <div class="Session-login">
          <div class="Login">
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: "Login-front"}) do |f| %>
              <%= devise_error_messages! %>
              <% if session[:omniauth_errors] %>
                <div class="flash"> 
                  <p><%= session[:omniauth_errors] %></p>
                </div>
              <% end %>

              <div class="Login-field">
                <%= f.email_field :email, class: "Login-input", placeholder: "Correo Electrónico" %>
              </div>
              <div class="Login-field">
                <%= f.password_field :password, class: "Login-input", placeholder: "Constraseña" %>
              </div>
              <div class="Login-field">
                <%= f.password_field :password_confirmation, class: "Login-input", placeholder: "Confirma tu contraseña" %>
              </div>
              <div class="Login-field">
                <%= f.submit t('.sign_up', :default => "Registrar"), class: "Login-submit" %>
              </div>
              <div class="Login-socialLogin">
                <%= link_to omniauth_authorize_path(resource_name, "twitter"), class: "Login-twitter" do %>
                    <i class="fa fa-twitter"></i>
                <% end %>
                <%= link_to omniauth_authorize_path(resource_name, "facebook"), class: "Login-facebook" do %>
                    <i class="fa fa-facebook"></i>
                <% end %>
                <a href="#" class="Login-google">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
            <% end %>
          </div>
        </div>
        <div class="Session-bottom">
          <p class="Session-text">
            ¿Tienes una cuenta?
          </p>
          <a href="#" class="Session-linkRegister">Entra aquí</a>
        </div>
      </div>
    </div> 
  </div>
</div>

