<% commentable.comments.each do  |comment| %>
  <section class="Comment">
      <div class="Comment-top">
           <%= image_tag comment.user.avatar.url,  class: "Comment-userImg" %>
          <div class="Comment-cMiddle"> 
              <h4 class="Comment-nameUser"><%= comment.user.nickname %></h4>
              <p class="Comment-date"> <%= distance_of_time_in_words_to_now(comment.created_at) %> </p>
          </div>
          <div class="Comment-actions">
              <%= link_to like_person_comment_path(commentable, comment), method: :put, class: "Comment-aText" do %>
                 <i class="fa fa-thumbs-o-up"></i>
                 <%= comment.votes_for.size %> Me gusta
              <% end %>
              <a href="#" class="Comment-aText"> 
                 <i class="fa fa-comment-o"></i>
                 0 Respuestas
              </a>
              <a href="#" class="Comment-aText text-red"> 
                 <i class="fa fa-long-arrow-right"></i>
                 Responder
              </a>      
          </div>              
      </div>
      <div class="Comment-bottom">
          <p class="Comment-commentText">
              <%= comment.content %>
          </p>
      </div>
  </section>
<% end %>