<h4 class="Critics-title">
    Comentarios
</h4>
<div class="FormComment">
    <%= image_tag current_user.avatar.url,  class: "FormComment-user" %>
    <div class="FormComment-formC">
        <%= form_for [commentable, Comment.new], html: {class: "FormComment-form"} do |f| %>
          <%= f.text_area :content, class: "FormComment-textArea" %>
          <%= f.submit "Crear Comentarios", class: "FormComment-formSend" %>
        <% end %>
    </div>
</div>