<div class="InfoActor-filter">
  <%= link_to 'Información', person_path(@person), class: "InfoActor-filterText InfoActor-fActive" %>
  <%= link_to 'Filmografía', person_films_path(@person), class: "InfoActor-filterText InfoActor-fDisable" %>
</div>