<%= form_for @actor, html: {class: 'form'} do |f| %>
  <% if @actor.errors.any? %>
    <h2><%= pluralize(@actor.errors.count, "Error") %></h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :biography %>
    <%= f.text_area :biography %>
  </div>
  <div class="field">
    <%= f.label :birthday %>
    <%= f.text_field :birthday %>
  </div>
  <div class="field">
    <%= f.label :deathday %>
    <%= f.text_field :deathday %>
  </div>
  <div class="field">
    <%= f.label :homepage %>
    <%= f.text_field :homepage %>
  </div>
  <div class="field">
    <%= f.label :imdb_id %>
    <%= f.text_field :imdb_id %>
  </div>
  <div class="field">
    <%= f.label :tmdb_id %>
    <%= f.text_field :tmdb_id %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :place_to_birth %>
    <%= f.text_field :place_to_birth   %>
  </div>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>