<div class="Layout-content">  
  <div class="PageTitle">
    <div class="PageTitle-infoTop">
      <h3 class="PageTitle-title PageTitle--titleBlack">
        <%= @person.name %>
      </h3>
    </div>
  </div>
</div>