<div class="Layout">
  <%= render 'title' %>
  <div class="Layout-content">
    <div class="ModuleActor">
      <div class="ModuleActor-sidebarLeft">
        <div class="ModuleActor-card">
          <div class="CardActor">
            <div class="CardActor-top" style="background: url('<%= @person.image %>') 100% 100%; background-size: cover;">
            </div>
            <div class="CardActor-bottom">
              <a href="#" class="CardActor-follow">
                <i class="fa fa-eye"></i>
                  Seguir
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="ModuleActor-mainContent">
        <div class="InfoActor">
          <%= render 'filterTabActor' %>  
          <div class="InfoActor-content">
            <div class="InfoActor-tabs">
              <div class="Tabs">
                <ul class="nav nav-pills Tabs-nav" role="tablist">
                  <li role="presentation" class="active" >
                    <a href="#all" aria-controls="all" role="tab" data-toggle="tab">Todo</a>
                  </li>
                  <li role="presentation" >
                    <a href="#all" aria-controls="all" role="tab" data-toggle="tab">Director</a>
                  </li>
                  <li role="presentation"  >
                    <a href="#all" aria-controls="all" role="tab" data-toggle="tab">Actor</a>
                  </li>
                  <li role="presentation" >
                    <a href="#all" aria-controls="all" role="tab" data-toggle="tab">Guionista</a>
                  </li>
                  <li role="presentation" >
                    <a href="#all" aria-controls="all" role="tab" data-toggle="tab">Productor</a>
                  </li>
                  <li role="presentation">
                    <a href="#all" aria-controls="all" role="tab" data-toggle="tab">Compositor</a>
                  </li>
                </ul>  
              </div> 
            </div>
        </div>
      </div>
    </div>
  </div>

</div>