<div class="Layout">
    <div class="Layout-page">
        <div class="Layout-content">  
          <div class="PageTitle">
              <div class="PageTitle-infoTop">
                <h3 class="PageTitle-title PageTitle--titleBlack">
                  Actores
                </h3>
              </div>
          </div>
        </div>
    <div class="Layout-wrapper">
        <div class="Layout-content">
            <div class="Layout-actors">
                <% @people.each do |person| %>
                <div class="Actor">
                    <div class="Actor-top" style="background: url('<%= person.image %>') 100% 100%; background-size: cover;">  
                    </div>
                    <div class="Actor-bot">
                        <%= link_to person.name, person_path(person), class: 'Actor-name' %>
                    </div>
                </div>
                <% end %>
            </div>
            <div class="Layout-navigation">
                <div class="Navigation">
                    <%= will_paginate @people %>
                </div>
            </div>
        </div>   
    </div> 
  </div>
</div>