<div class="Layout">
    <div class="Layout-page">
        <div class="Layout-content">  
          <div class="PageTitle">
              <div class="PageTitle-infoTop">
                <h3 class="PageTitle-title PageTitle--titleBlack">
                  Crear actor
                </h3>
              </div>
          </div>
        </div>
        <div class="Layout-wrapper">
          <%= render 'form' %>
        </div>
    </div>
</div>