<div class="Layout">
  <%= render 'title' %>
  <div class="Layout-content">
    <div class="ModuleActor">
      <div class="ModuleActor-sidebarLeft">
        <div class="ModuleActor-card">
          <div class="CardActor">
            <div class="CardActor-top" style="background: url('<%= @person.image %>') 100% 100%; background-size: cover;">
            </div>
            <div class="CardActor-bottom">
              <a href="#" class="CardActor-follow">
                <i class="fa fa-eye"></i>
                  Seguir
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="ModuleActor-mainContent">
        <div class="InfoActor">
                  
          <div class="InfoActor-content">
            <p class="InfoActor-dataText"> Nacido en:  <span class
            ="InfoActor-text"><%= @person.place_to_birth %> </span></p>
            <p class="InfoActor-dataText"> Nacimiento:  <span class="InfoActor-text"><%= show_age(@person.birthday) %> años </span></p>
            <% if @person.homepage != "" %>
              <p class="InfoActor-dataText"> Página oficial:  <span class="InfoActor-text"> <%= @person.homepage %> </span></p>
            <% end %>
          </div>
          <h4 class="InfoActor-titleText">
            Biografía
          </h4>
          <p class="InfoActor-biography">
           <%= @person.biography %>
          </p>
          <h4 class="InfoActor-titleText">
            Últimos trabajos
          </h4>
          <div class="InfoActor-lastWorksC">
            <% @person.casts.each do |f| %>
              <div class="CardMedia">
                <%= link_to movie_path(f.title) , class: "CardMedia-top" do %>
                  <img src="<%= f.title.poster %>" class="CardMedia-img">
                  </img>
                <% end %>
                <div class="CardMedia-bottomLarge">
                  <%= link_to movie_path(f.title) , class: "CardMedia-cTitle CardMedia--titleGrey" do %>
                    <p class="CardMedia-mainText CardMedia--titleGrey"> <%= truncate(f.title.title) %> </p>
                  <% end %>
                  <a class="CardMedia-iconEllipsis">
                    <i class="fa fa-ellipsis-v"></i>
                  </a>
                  <div class="CardMedia-hiddenData">
                    <a href="#" class="CardMedia-linkHidden"> Vista </a>
                    <a href="#" class="CardMedia-linkHidden"> Pendiente </a>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <% if user_signed_in? %>
            <div class="InfoActor-comments">
              <div class="Critics">
                    <%= render partial: "comments/form", locals: {commentable: @person} %>
                <div class="Critics">
                    <div class="Critics-comments">
                        <div class="Critics-filter">
                            <a href="#" class="Critics-fText Critics--fActive"> Comentarios Populares</a>
                        </div>
                        <%= render partial: "comments/comments", locals: {commentable: @person} %>
                    </div>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>