<nav class="navbar-default navbar-side" role="navigation">
  <!-- <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div> -->
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <%= link_to dashboard_titles_path, class: current_class?(dashboard_titles_path) do %>
                    <i class="fa fa-dashboard"></i> Titulos
                <% end %>
            </li>
            <li>
                <%= link_to dashboard_people_path, class: "" do %>
                    <i class="fa fa-dashboard"></i> Páginas
                <% end %>
            </li>
            <li>
                <%= link_to dashboard_people_path, class: current_class?(dashboard_people_path) do %>
                    <i class="fa fa-user"></i> Personas
                <% end %>
            </li>
            <li>
                <a href="tab-panel.html"><i class="fa fa-cogs"></i></i> Ajustes </a>
            </li>
            
            <li>
                <%= link_to dashboard_actions_path, class: current_class?(dashboard_actions_path) do %>
                   <i class="fa fa-external-link"></i>  Acciones
                <% end %>
            </li>
            <li>
                <a href="form.html"><i class="fa fa-camera-retro"></i> Imagenes </a>
            </li>
        </ul>

    </div>

</nav>