<div class="Layout">
    <div class="Layout-mediaVideo">
        <div class="Layout-content">
            <div class="MobileMediaVideo">
                <p class="MobileMediaVideo-num"> 1 </p>
                <h4 class="MobileMediaVideo-title">Seleccione la fuente de video</h4>
                <p class="MobileMediaVideo-subtitle">
                    Elije el modo en que desee ver el video
                </p>
                <div class="MobileMediaVideo-actions">
                    <a href="#" class="MobileMediaVideo-button"> Descarga</a>
                    <a href="#"class="MobileMediaVideo-button"> Online</a>
                </div>
                <a href="#" class="MobileMediaVideo-buttonBack"> Atrás</a>
            </div>
        </div>
    </div>
    <div class="Layout-portadeMedia" style="background: url('<%= @movie.background %>') center; background-size: cover;">
        <div class="Layout-portadeMediaTop">
            
        </div>
        <div class="Layout-portadeMediaMiddle">
            
        </div>
        <div class="Layout-portadeMediaBottom">
            
        </div>
        <div class="Layout-portadeVideo">
            
        </div>
         <div class="Layout-content">
            <div class="PortadeMedia" >
                <div class="PortadeMedia-topLeft">
                    <div class="PortadeMedia-points">
                        <div class="PortadeMedia-point">
                            <span class="PortadeMedia-iconStar"> <i class="fa fa-star"></i> </span>
                            <span class="PortadeMedia-pointStar"> <%= @movie.vote_average %> </span>
                        </div>
                        <a href="<%= @movie.trailer %>" class="PortadeMedia-buttonTrailer" id="show_videoTrailer"> Ver Trailer </a>
                        <a href="#" class="PortadeMedia-share"> Recomendar </a>
                    </div>
                </div>
                <img src="<%= @movie.poster %>" class="PortadeMedia-miniCover"> </img>
                <div class="PortadeMedia-dateMedia"> 
                    <h3 class="PortadeMedia-title"> <%= @movie.title %> <span class="PortadeMedia-year"> <%= show_year(@movie.release_date) %> </span> </h3>
                </div>
                <div class="PortadeMedia-bottomInner">
                    <div class="PortadeMedia-pointInner">
                        <span class="PortadeMedia-iconStar"> * </span>
                        <span class="PortadeMedia-pointStar"> 9.5 </span>
                    </div>
                    <p class="PortadeMedia-miniDetails">
                        Película | 2015 | Acción
                    </p> 
                </div>
                <div class="PortadeMedia-bottomData">
                    <p class="PortadeMedia-statMedia">
                        20.4k <span class="PortadeMedia-statMediaText">
                            Votos
                        </span>
                    </p>
                    <p class="PortadeMedia-statMedia">
                        128k <span class="PortadeMedia-statMediaText">
                            Reproducciones
                        </span>
                    </p>
                    <p class="PortadeMedia-statMedia">
                        112k <span class="PortadeMedia-statMediaText">
                            Listas
                        </span>
                    </p>
                </div>
                <div class="PortadeMedia-bottomOut">
                    <a href="#" class="PortadeMedia-action">
                        Vista
                    </a>
                    <a href="#" class="PortadeMedia-action">
                        Pendiente
                    </a>
                </div>
            </div>
         </div>
    </div>
    <div class="Layout-content">
        <div class="MainMedia">
            <div class="MainMedia-sidebar">
                <div class="SidebarLeft" id="SidebarLeft">
                    <ul class="SidebarLeft-sMenu">
                        <li class="SidebarLeft-sElement"> <a href="#" class="SidebarLeft-linkSection  SidebarLeft--active "> Detalles </a> </li>
                        <li class="SidebarLeft-sElement"> <a href="#" class="SidebarLeft-linkSection"> Actividad </a> </li>
                        <li class="SidebarLeft-sElement"> <a href="#" class="SidebarLeft-linkSection"> Actores</a> </li>
                        <li class="SidebarLeft-sElement"> <a href="#" class="SidebarLeft-linkSection"> 12 Comentarios </a> </li>
                    </ul>
                    <ul class="SidebarLeft-eMenu">
                        <% if @movie.website %> 
                        <li class="SidebarLeft-eElement"> <a href="<%= @movie.website %>" class="SidebarLeft-linkExternal"> Sitio oficial <i class="fa fa-external-link"></i> </a></li>
                        <% end %>
                        <% if @movie.imbd_id %> 
                            <li class="SidebarLeft-eElement"> <a href="http://www.imdb.com/title/<%= @movie.imbd_id %>" class="SidebarLeft-linkExternal"> Imdb <i class="fa fa-external-link"></i></a></li>
                        <% end %>
                        <% if @movie.tmbd_id %> 
                            <li class="SidebarLeft-eElement"> <a href="https://www.themoviedb.org/movie/<%= @movie.tmbd_id %>" class="SidebarLeft-linkExternal"> Tmdb <i class="fa fa-external-link"></i> </a></li>
                        <% end %>
                        <li class="SidebarLeft-eElement"> <a class="SidebarLeft-linkExternal"> Wikipedia <i class="fa fa-external-link"></i> </a></li>
                    </ul>
                </div>
            </div>
            <div class="MainMedia-content">
                <div class="Ads">
                    <div class="Ads-728">
                        
                    </div>
                </div>
                <div class="DetailsMedia">
                    <div class="DetailsMedia-main">
                        <div class="DetailsMedia-cText">
                            <h3 class="DetailsMedia-textTitle"> Lanzado </h3>
                            <span class="DetailsMedia-text"> <%= show_year(@movie.release_date)%> </span>
                        </div>
                        <div class="DetailsMedia-cText">
                            <h3 class="DetailsMedia-textTitle"> Director</h3>
                             <span class="DetailsMedia-text"> <%= @director %> </span>
                        </div>
                        <div class="DetailsMedia-cText">
                            <h3 class="DetailsMedia-textTitle"> Idioma</h3>
                            <span class="DetailsMedia-text"> <%= @movie.country %> </span>
                        </div>
                        <div class="DetailsMedia-cText">
                            <h3 class="DetailsMedia-textTitle"> Tiempo </h3>
                            <span class="DetailsMedia-text"> <%= @movie.runtime %> minutos </span>
                        </div>
                        <div class="DetailsMedia-cText">
                            <h3 class="DetailsMedia-textTitle"> Certficación</h3>
                            <span class="DetailsMedia-text"> PG-13 </span>
                        </div>
                        <div class="DetailsMedia-cText">
                            <h3 class="DetailsMedia-textTitle"> Géneros</h3>
                            <span class="DetailsMedia-text"> Accion, Ciencia Ficcion, Aventura </span>
                        </div>
                    </div>
                    <div class="DetailsMedia-sinopsis">
                        <h4 class="DetailsMedia-sTitle"> Sinopsis </h4>
                        <p class="DetailsMedia-sInfo"> <%= @movie.overview%></p>
                    </div>
                </div>
                <div class="Fans">
                    <h4 class="Fans-title"> Seguidores </h4>
                    <div class="Fans-content">
                        <img src="img/fry.png" class="Fans-userImg"></img>
                        <img src="img/fry.png" class="Fans-userImg"></img>
                        <img src="img/fry.png" class="Fans-userImg"></img>
                        <img src="img/fry.png" class="Fans-userImg"></img>
                        <p class="Fans-more"> 8 Más </p>
                    </div>
                </div>
                <div class="SlidePeoples">
                    <h3 class="SlidePeoples-title"> Actores </h3>
                    <div id="SlidePeoples-content" class="SlidePeoples-content">
                        <ul>
                            <% @movie.casts.each do |cast| %>
                             <li>
                                <%= link_to person_path(cast.person), class: "PosterPeople" do%>
                                    <div class="PosterPeople-imageC">
                                        <%= image_tag cast.person.image, class: "PosterPeople-authorImg" %>
                                    </div>
                                    <div class="PosterPeople-title">
                                        <h3 class="PosterPeople-name"> <%= cast.person.name %></h3>
                                        <h3 class="PosterPeople-subtitle"> <%= cast.character %> </h3>
                                    </div>
                                <% end %>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <div class="SlidePeoples">
                    <h3 class="SlidePeoples-title"> Equipo </h3>
                    <div class="SlidePeoples-content" id="SlidePeoples-content" >
                        <ul>
                            <% @movie.crews.each do |crew| %>
                            <li>
                                <%= link_to person_path(crew.person), class: "PosterPeople" do%>
                                    <div class="PosterPeople-imageC">
                                        <%= image_tag crew.person.image, class: "PosterPeople-authorImg" %>
                                    </div>
                                    <div class="PosterPeople-title">
                                        <h3 class="PosterPeople-name"> <%= crew.person.name %></h3>
                                        <h3 class="PosterPeople-subtitle"> <%= crew.job %> </h3>
                                    </div>
                                <% end %>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <div class="Critics">
                    <h4 class="Critics-title">
                        Criticas
                    </h4>
                    <div class="FormComment">
                        <img src="img/photo.jpg" class="FormComment-user"> </img>
                        <div class="FormComment-formC">
                            <form action="" class="FormComment-form">
                                <textarea rows="6" class="FormComment-textArea"></textarea>
                                <input type="submit" class="FormComment-formSend" value="Crear Crítica">
                                </input>
                            </form>
                        </div>
                    </div>
                <div class="Critics">
                    <div class="Critics-comments">
                        <div class="Critics-filter">
                            <a href="#" class="Critics-fText Critics--fActive"> Comentarios Populares</a>
                            <a href="#" class="Critics-fText Critics--fdisable"> Comentarios Recientes</a>
                        </div>
                       <section class="Comment">
                            <div class="Comment-top">
                                <img src="img/fry.png" class="Comment-userImg">
                                <div class="Comment-cMiddle"> 
                                    <h4 class="Comment-nameUser">Sandra Cachondis</h4>
                                    <p class="Comment-date"> hace 4 meses </p>
                                </div>
                                <div class="Comment-actions">
                                    <a href="#" class="Comment-aText"> 
                                       <i class="fa fa-thumbs-o-up"></i>
                                       15 Me gusta
                                    </a>
                                    <a href="#" class="Comment-aText"> 
                                       <i class="fa fa-comment-o"></i>
                                       0 Respuestas
                                    </a>
                                    <a href="#" class="Comment-aText text-red"> 
                                       <i class="fa fa-long-arrow-right"></i>
                                       Responder
                                    </a>      
                                </div>              
                            </div>
                            <div class="Comment-bottom">
                                <p class="Comment-commentText">
                                    La peliculas me ha parecido buena, pero ¿ a nadie le parece éste superheroe más absurdo de cuantos ha llevado Marvel al cine?, Ya, ya sé que en en mundo del comic todo es posible, que Hulk y Thor y todos los demas que desafian constantemenete las leyes de la fisica y la lógica, pero es que Ant Man, un tio que tiene los poderes de una hormiga, pese a que tuviese la fuerza de ese insecto, al reducir su tamaño, lo haria tambien su fuerza proporcionalmente, Es decir, las hormigas son muy fuertes para su tamaño, si pueden vencer facilmente a otros insectos pero a un humano no le hace nada.
                                </p>
                            </div>
                        </section>
                        <section class="Comment">
                            <div class="Comment-top">
                                <img src="img/fry.png" class="Comment-userImg">
                                <div class="Comment-cMiddle"> 
                                    <h4 class="Comment-nameUser">Sandra Cachondis</h4>
                                    <p class="Comment-date"> hace 4 meses </p>
                                </div>
                                <div class="Comment-actions">
                                    <a href="#" class="Comment-aText"> 
                                       <i class="fa fa-thumbs-o-up"></i>
                                       15 Me gusta
                                    </a>
                                    <a href="#" class="Comment-aText"> 
                                       <i class="fa fa-comment-o"></i>
                                       0 Respuestas
                                    </a>
                                    <a href="#" class="Comment-aText text-red"> 
                                       <i class="fa fa-long-arrow-right"></i>
                                       Responder
                                    </a>      
                                </div>              
                            </div>
                            <div class="Comment-bottom">
                                <p class="Comment-commentText">
                                    La peliculas me ha parecido buena, pero ¿ a nadie le parece éste superheroe más absurdo de cuantos ha llevado Marvel al cine?, Ya, ya sé que en en mundo del comic todo es posible, que Hulk y Thor y todos los demas que desafian constantemenete las leyes de la fisica y la lógica, pero es que Ant Man, un tio que tiene los poderes de una hormiga, pese a que tuviese la fuerza de ese insecto, al reducir su tamaño, lo haria tambien su fuerza proporcionalmente, Es decir, las hormigas son muy fuertes para su tamaño, si pueden vencer facilmente a otros insectos pero a un humano no le hace nada.
                                </p>
                            </div>
                        </section>
                        <section class="Comment">
                            <div class="Comment-top">
                                <img src="img/fry.png" class="Comment-userImg">
                                <div class="Comment-cMiddle"> 
                                    <h4 class="Comment-nameUser">Sandra Cachondis</h4>
                                    <p class="Comment-date"> hace 4 meses </p>
                                </div>
                                <div class="Comment-actions">
                                    <a href="#" class="Comment-aText"> 
                                       <i class="fa fa-thumbs-o-up"></i>
                                       15 Me gusta
                                    </a>
                                    <a href="#" class="Comment-aText"> 
                                       <i class="fa fa-comment-o"></i>
                                       0 Respuestas
                                    </a>
                                    <a href="#" class="Comment-aText text-red"> 
                                       <i class="fa fa-long-arrow-right"></i>
                                       Responder
                                    </a>      
                                </div>              
                            </div>
                            <div class="Comment-bottom">
                                <p class="Comment-commentText">
                                    La peliculas me ha parecido buena, pero ¿ a nadie le parece éste superheroe más absurdo de cuantos ha llevado Marvel al cine?, Ya, ya sé que en en mundo del comic todo es posible, que Hulk y Thor y todos los demas que desafian constantemenete las leyes de la fisica y la lógica, pero es que Ant Man, un tio que tiene los poderes de una hormiga, pese a que tuviese la fuerza de ese insecto, al reducir su tamaño, lo haria tambien su fuerza proporcionalmente, Es decir, las hormigas son muy fuertes para su tamaño, si pueden vencer facilmente a otros insectos pero a un humano no le hace nada.
                                </p>
                            </div>
                        </section>
                        <section class="Comment">
                            <div class="Comment-top">
                                <img src="img/fry.png" class="Comment-userImg">
                                <div class="Comment-cMiddle"> 
                                    <h4 class="Comment-nameUser">Sandra Cachondis</h4>
                                    <p class="Comment-date"> hace 4 meses </p>
                                </div>
                                <div class="Comment-actions">
                                    <a href="#" class="Comment-aText"> 
                                       <i class="fa fa-thumbs-o-up"></i>
                                       15 Me gusta
                                    </a>
                                    <a href="#" class="Comment-aText"> 
                                       <i class="fa fa-comment-o"></i>
                                       0 Respuestas
                                    </a>
                                    <a href="#" class="Comment-aText text-red"> 
                                       <i class="fa fa-long-arrow-right"></i>
                                       Responder
                                    </a>      
                                </div>              
                            </div>
                            <div class="Comment-bottom">
                                <p class="Comment-commentText">
                                    La peliculas me ha parecido buena, pero ¿ a nadie le parece éste superheroe más absurdo de cuantos ha llevado Marvel al cine?, Ya, ya sé que en en mundo del comic todo es posible, que Hulk y Thor y todos los demas que desafian constantemenete las leyes de la fisica y la lógica, pero es que Ant Man, un tio que tiene los poderes de una hormiga, pese a que tuviese la fuerza de ese insecto, al reducir su tamaño, lo haria tambien su fuerza proporcionalmente, Es decir, las hormigas son muy fuertes para su tamaño, si pueden vencer facilmente a otros insectos pero a un humano no le hace nada.
                                </p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <%= @details %>
  <%= @crew %>
    <%= @video %>