<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Acciones
            </h1>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-green green">
                <div class="panel-left pull-left green">
                    <i class="fa fa-film fa-5x"></i>
                    
                </div>
                <div class="panel-right pull-right">
                    <h3><%= @total_titles %></h3>
                    <strong> Pelicula</strong>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-blue blue">
                  <div class="panel-left pull-left blue">
                    <i class="fa fa-video-camera fa-5x"></i>
            </div>   
            <div class="panel-right pull-right">
                <h3><%= @total_people %> </h3>
                <strong> Actores</strong>
            </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-red red">
                <div class="panel-left pull-left red">
                    <i class="fa fa-users fa-5x"></i>
                   
                </div>
                <div class="panel-right pull-right">
                    <h3><%= @total_users %></h3>
                    <strong> Usuarios </strong>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-brown brown">
                <div class="panel-left pull-left brown">
                    <i class="fa fa-comments fa-5x"></i>
                    
                </div>
                <div class="panel-right pull-right">
                    <h3><%= @total_comments %></h3>
                    <strong>Nro de Comentarios</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="scraper-contents">
                <h4><i class="fa fa-wrench"></i> Scraper TMBD</h4>
                <%= form_for :scraper, url: dashboard_actions_tmbd_discover_path do |f|%>
                    <% if flash[:notice] %>
                        <div class="alert alert-success">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong><%= flash[:notice] %></strong> 
                        </div>
                    <% end %>
                    <div class="form-group">
                        <%= f.label :sort_by %>
                        <%= f.select :sort_by, '<option value="popularity.desc" selected="selected">Popularidad</option><option value="vote_average.desc">Votos</option><option value="release_date.desc">Año</option>'.html_safe, {}, { required: 'true', class: 'form-control' } %>
                    </div>
                    <div class="form-group">
                        <%= f.label :include_adult %>
                        <%= f.select :include_adult, '<option value="true">Si</option><option value="false" selected="selected">No</option>'.html_safe, {}, { required: 'true', class: 'form-control'} %>
                    </div>
                    <div class="form-group">
                        <%= f.label :type %>
                        <%= f.select :type, '<option value="movie" selected="selected">Pelicula</option><option value="serie">Series</option>'.html_safe , {}, {required: 'true', class: 'form-control'} %>
                    </div>
                    <div class="form-group">
                        <%= f.label :language %>
                        <%= f.text_field :language, class: "form-control", value: 'es' %>
                        <span class="help-block"> * ISO 639-1 Code, defaults to "en" .</span>
                    </div>
                    <div class="form-group">
                        <%= f.label :release_from_year %>
                        <%= f.text_field :release_from_year, class: "form-control" , value: "1980-01-01" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :release_to_year %>
                        <%= f.text_field :release_to_year, class: "form-control" , value: "2015-01-01" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :how_much %>
                        <%= f.text_field :how_much, class: "form-control", value: "100" %>
                    </div>
                    <div class="form-group">
                        <%= f.label :page %>
                        <%= f.text_field :page, class: "form-control", value: "1" %>
                    </div>
                    <div class="form-group">
                        <%= f.submit "Scrapear" ,class: "btn btn-primary" %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="col-md-6">
            asdasd
        </div>
    </div>
</div>