<div class="Layout-mainFooter">
  <div class="Layout-content">
    <footer class="MainFooter">
      <img src="" alt="LOGO" class="MainFooter-logo" >
      <div class="MainFooter-social">
        <div class="SocialMini">
          <p class="SocialMini-text">Síguenos en: </p>
          <a href="#" class="SocialMini-link SocialMini--facebook">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a href="#" class="SocialMini-link SocialMini--twitter">
            <i class="fa fa-twitter-square"></i>
          </a>
          <a href="#" class="SocialMini-link SocialMini--youtube">
            <i class="fa fa-youtube-square"></i>
          </a>
        </div>
        <p class="MainFooter-copyright">
          Todos los derechos reservados 2015 - Development by Micodi
        </p>
      </div>
    </footer>
  </div>
</div >