<header class="MainTop">
  <a href="#" class="MainTop-search">
    <i class="fa fa-search"></i>
  </a>
  <div class="MainTop-logo">
    <div class="Logo">
      <img src="" alt="LOGO" class="Logo-img">
      </img>
    </div>
  </div>
  <% if user_signed_in? %>
    <div class="MainTop-notifications">
      <div class="Notification">
        <a href="#" class="Notification-icon">
          <i class="fa fa-bell"></i>
        </a>
        <p class="Notification-number">
          2
        </p>
        <div class="Notification-slide">
          <div class="NotificationSlide">
            <div class="NotificationSlide-top">
              <p class="NotificationSlide-mainText">
                Notificaciones
              </p>
            </div>
            <div class="NotificationSlide-content">
              No hay notificaciones para mostrar
            </div>
            <div class="NotificationSlide-bottom">
              Ver Todas
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="MainTop-cAvatar">
      <%= image_tag current_user.avatar.url, class: "MainTop-imgAvatar" %>
    </div>
    <%= link_to t('.destroy_session'), destroy_user_session_path, method: :delete %>
  <% end %>
  <a href="# "class="MainTop-buttonMenu">
    <i class="fa fa-bars"></i>
  </a>
</header>