<div class="Layout">
      <div class="Layout-profile" style="background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.8)), url('<%= image_url("backdrop.jpg") %>') 100% 100%; background-size: cover" >
          <div class="Layout-content Layout--centerFlex">
              <div class="ProfileCover">
                  <div class="ProfileCover-top">
                    <%= image_tag @user.avatar.url,  class: "ProfileCover-userImg" %>
                    <h4 class="ProfileCover-name"><%= @user.first_name %> <%= @user.last_name=%></h4>
                    <div class="ProfileCover-infoUser">
                        <p class="ProfileCover-textUser">CO </p> 
                        <p class="ProfileCover-textUser bold"> @<%= @user.nickname %> </p>
                        <p class="ProfileCover-textUser"> 3.859 puntos</p>
                    </div>
                  </div>
                  <div class="ProfileCover-bottom">
                      <div class="ProfileCover-dataFollow">
                          <a href="#" class="ProfileCover-textInfo"> 1 seguidores</a>
                          <a href="#" class="ProfileCover-textInfo"> 0 Siguiendo </a>
                      </div>
                      <div class="ProfileCover-cButton">
                          <div class="Button">
                              <a href="#"class="Button-blue"> Seguir </a>
                          </div>
                          <div class="Button">
                              <a href="#"class="Button-blue"> Bloquear </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="Layout-normal bkGray">
          <div class="Layout-content">
              <div class="ProfileTab">
                  <ul class="ProfileTab-list">
                      <li class="ProfileTab-element">
                          <a href="#" class="ProfileTab-linkE ProfileTab--linkActive">Actividad</a>
                      </li>
                      <li class="ProfileTab-element">
                          <a href="#" class="ProfileTab-linkE">Colección</a>
                      </li>
                      <li class="ProfileTab-element">
                          <a href="#" class="ProfileTab-linkE">Listas</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="Layout-content">
        <div class="Layout-mainWrapper">
          <div class="Layout-principalContent">
              <div class="Activity">
                  <div class="Activity-comment">
                        <div class="FormComment">
                            <img src="img/photo.jpg" class="FormComment-user"> 
                            <div class="FormComment-formC">
                                <form action="" class="FormComment-form">
                                    <textarea rows="6" class="FormComment-textArea FormComment--textAreaGray" placeholder="Escribe algo"></textarea>
                                    <input type="submit" class="FormComment-formSend FormComment--sendProfile" value="Enviar">
                                </form>
                            </div>
                        </div>
                  </div>
                  <div class="Activity-content">
                      <div class="FlashView">
                            <img src="img/fry.png" alt="avatar" class="FlashView-img">
                            <div class="FlashView-content">
                              <span class="FlashView-textAction FlashView--darkAction">
                                <b>Ronald barrera</b> ha <b>visto</b> la película <b>El unico superviviente</b>
                              </span>
                              <p class="FlashView-time FlashView--darkTime">
                                Hace un año
                              </p>
                            </div>
                            <img src="img/cover1.jpg" alt="coverMedia" class="FlashView-coverMedia">
                      </div>  
                      <div class="FlashView">
                            <img src="img/fry.png" alt="avatar" class="FlashView-img">
                            <div class="FlashView-content">
                              <span class="FlashView-textAction FlashView--darkAction">
                                <b>Ronald barrera</b> ha <b>visto</b> la película <b>El unico superviviente</b>
                              </span>
                              <p class="FlashView-time FlashView--darkTime">
                                Hace un año
                              </p>
                            </div>
                            <img src="img/cover1.jpg" alt="coverMedia" class="FlashView-coverMedia">
                      </div> 
                      <div class="FlashView">
                            <img src="img/fry.png" alt="avatar" class="FlashView-img">
                            <div class="FlashView-content">
                              <span class="FlashView-textAction FlashView--darkAction">
                                <b>Ronald barrera</b> ha <b>visto</b> la película <b>El unico superviviente</b>
                              </span>
                              <p class="FlashView-time FlashView--darkTime">
                                Hace un año
                              </p>
                            </div>
                            <img src="img/cover1.jpg" alt="coverMedia" class="FlashView-coverMedia">
                      </div> 
                      <div class="FlashView">
                            <img src="img/fry.png" alt="avatar" class="FlashView-img">
                            <div class="FlashView-content">
                              <span class="FlashView-textAction FlashView--darkAction">
                                <b>Ronald barrera</b> ha <b>visto</b> la película <b>El unico superviviente</b>
                              </span>
                              <p class="FlashView-time FlashView--darkTime">
                                Hace un año
                              </p>
                            </div>
                            <img src="img/cover1.jpg" alt="coverMedia" class="FlashView-coverMedia">
                      </div> 
                      <div class="FlashView">
                            <img src="img/fry.png" alt="avatar" class="FlashView-img">
                            <div class="FlashView-content">
                              <span class="FlashView-textAction FlashView--darkAction">
                                <b>Ronald barrera</b> ha <b>visto</b> la película <b>El unico superviviente</b>
                              </span>
                              <p class="FlashView-time FlashView--darkTime">
                                Hace un año
                              </p>
                            </div>
                            <img src="img/cover1.jpg" alt="coverMedia" class="FlashView-coverMedia">
                      </div> 
                      <div class="FlashView">
                            <img src="img/fry.png" alt="avatar" class="FlashView-img">
                            <div class="FlashView-content">
                              <span class="FlashView-textAction FlashView--darkAction">
                                <b>Ronald barrera</b> ha <b>visto</b> la película <b>El unico superviviente</b>
                              </span>
                              <p class="FlashView-time FlashView--darkTime">
                                Hace un año
                              </p>
                            </div>
                            <img src="img/cover1.jpg" alt="coverMedia" class="FlashView-coverMedia">
                      </div>                     
                  </div>
              </div>
          </div>
          <div class="Layout-sidebar">
              <div class="Ads">
                  <div class="Ads-box"></div>
              </div>
          </div>
        </div>     
      </div>
      
  </div>