<div class="Layout">
    <div class="Layout-fullwidth">
      <div class="Layout-page">
        <div class="PageTitle">
          <div class="PageTitle-infoTop">
            <h3 class="PageTitle-title">
              Películas
            </h3>
            <p class="PageTitle-subtitle">
              Tenemos un catalogo de +3000 peliculas, escoge una!
            </p>
          </div>
          <div class="PageTitle-bottomFilter">
            <div class="PageTitle-filter">
                <select>
                    <option>Cátalogo</option>
                    <option>The second option</option>
                    <option>The third option</option>
                </select>
            </div>
            <div class="PageTitle-filter">
                <select>
                    <option>Géneros</option>
                    <option>The second option</option>
                    <option>The third option</option>
                </select>
            </div>
            <div class="PageTitle-filter">
                <select>
                    <option>Calidades</option>
                    <option>The second option</option>
                    <option>The third option</option>
                </select>
            </div>
            <div class="PageTitle-filter">
                <select>
                    <option>Idiomas</option>
                    <option>The second option</option>
                    <option>The third option</option>
                </select>
            </div>
            <div class="PageTitle-filter">
                <select>
                    <option>Puntuación</option>
                    <option>The second option</option>
                    <option>The third option</option>
                </select>
            </div>
            <div class="PageTitle-filter">
                <select>
                    <option>Actualizadas</option>
                    <option>The second option</option>
                    <option>The third option</option>
                </select>
            </div>
          </div>
        </div>
        <div class="Layout-films">
            <% @titles.each do |title| %>
                <div class="FilmView">
                    <div class="FilmView-top">
                        <img src="<%= title.backdrop %>" class="FilmView-imgCover"> </img>
                        <a href="<%= title.trailer %>" class="FilmView-iconTrailer" id="show_videoTrailer">
                            <i class="fa fa-play-circle"></i>
                        </a>
                        <div class="FilmView-vote">
                            <span class="FilmView-iconStar"> 
                                <i class="fa fa-star"></i>
                            </span>
                            <span class="FilmView-voteText"> <%= title.vote_average %> </span>
                        </div>
                        <div class="FilmView-description">
                            <%= link_to movie_path(title), class: "FilmView-title" do %>
                                    <%= title.title  %><span class="FilmView-year"> <%= show_year(title.release_date)  %></span>

                            <% end %>
                        </div>
                    </div>
                    <div class="FilmView-bottom">
                        <div class="FilmView-languages">
                            <div class="Language">
                                <img src="img/ingles.png" class="Language-img"></img>
                            </div>
                            <div class="Language">
                                <img src="img/españollatino.png" class="Language-img"></img>
                            </div>
                        </div>
                        <p class="FilmView-iconEllipsis">
                            <i class="fa fa-ellipsis-v"></i>
                        </p>
                        <div class="FilmView-hiddenData">
                            <a href="#" class="FilmView-linkHidden"> Vista </a>
                            <a href="#" class="FilmView-linkHidden"> Pendiente </a>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="Layout-navigation">
                <div class="Navigation">
                   <%= will_paginate @titles %>
                </div>
            </div>
      </div>
    </div>
  </div>