<div class="Layout">
    <div class="Layout-page">
        <div class="Layout-content">  
          <div class="PageTitle">
              <div class="PageTitle-infoTop">
                <h3 class="PageTitle-title PageTitle--titleBlack">
                  Ajustes
                </h3>
              </div>
          </div>
        </div>
    <div class="Layout-mainWrapper">
        <div class="Layout-sidebar">
            <div class="LateralVerticalMenu">
                <ul class="LateralVerticalMenu-menu">
                    <li class="LateralVerticalMenu-element">
                        <%= link_to 'Información personal', settings_path , class: 'LateralVerticalMenu-link LateralVerticalMenu-active' %>
                    </li>
                    <li class="LateralVerticalMenu-element">
                        <%= link_to 'Cambio de contraseña', root_path , class: 'LateralVerticalMenu-link' %>
                    </li>
                    <li class="LateralVerticalMenu-element">
                         <%= link_to 'Opciones de privacidad', root_path , class: 'LateralVerticalMenu-link' %>
                    </li>
                    <li class="LateralVerticalMenu-element">
                        <%= link_to 'Notificaciones', root_path , class: 'LateralVerticalMenu-link ' %>
                    </li>
                    <li class="LateralVerticalMenu-element">
                        <%= link_to 'Darme de baja', root_path , class: 'LateralVerticalMenu-link' %>
                    </li>
                </ul>
            </div>
        </div>
        <div class="Layout-mainContainer">
            <div class="CardPersonalInfo">
                <h3 class="CardPersonalInfo-title">
                    Información personal
                </h3>
                <%= form_for @user, html: {class: 'pure-form pure-form-stacked', multipart: true} do |f| %>
                  <% if @user.errors.any? %>
                    <h2><%= pluralize(@user.errors.count, "Error") %></h2>
                    <ul>
                      <% @user.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                    </ul>
                  <% end %>
                    <%= image_tag @user.avatar.url,  class: "avatar-field" %>
                    <%= f.file_field :avatar %>

                    <%= f.label :nickname %>
                    <%= f.text_field :nickname, class: "pure-input-1" %>
                  
                    <%= f.label :first_name %>
                    <%= f.text_field :first_name, class: "pure-input-1" %>

                    <%= f.label :last_name %>
                    <%= f.text_field :last_name, class: "pure-input-1" %>

                    <%= f.label :email %>
                    <%= f.text_field :email, class: "pure-input-1" %>

                  <div class="pure-controls">
                    <%= f.submit class: "pure-button pure-button-primary" %>
                  </div>
                <% end %>
            </div>
        </div>
          
    </div> 
  </div>
</div>