<div class="Layout">
  <div class="Layout-homeTop">
    <div class="Layout-content flex-center">
      <div class="CardHome">
        <div class="CardHome-avatar">
          <div class="Avatar">
            <img src="img/fry.png"class="Avatar-img">

          </img>
        </div>
      </div>
      <div class="CardHome-top">
        <h3 class="CardHome-titleName">
          Hola, <%= @user.first_name %>
        </h3>
        <span class="CardHome-subtitle">
          <span class="title--grey bold">
            Miembro desde
          </span> <%= @user.created_at.strftime("%b, %Y")%>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="Layout-mainWrapper">
  <div class="Layout-mainContainer">
    <section class="Layout-homeModule">
      <section class="HomeModule">
        <p class="HomeModule-icon">
          <i class="fa fa-calendar"></i>
        </p>
        <div class="HomeModule-container">
          <a href="#" class="HomeModule-title">
            Estrenos
          </a>
          <div class="HomeModule-options">
            <a href="#" class="HomeModule-textOptions">Proximos estrenos</a>
          </div>
          <div class="HomeModule-items">
            <p class="HomeModule-notifyText">
              Parece que no hay estrenos que te pueda interesar
              <a href="#" class="HomeModule-linkText">
              Ver estrenos
            </a>
            </p>
            
          </div>
        </div>
      </section>
      <section class="HomeModule">
        <p class="HomeModule-icon">
          <i class="fa fa-list-alt"></i>
        </p>
        <div class="HomeModule-container">
          <a href="#" class="HomeModule-title">
            Cosas Pendientes
          </a>
          <div class="HomeModule-options">
           <a href="#" class="HomeModule-textOptions"> 
            <i class="fa fa-th"></i> Catálogo
           </a>
          </div>
           <div class="HomeModule-subtitle">
            <a href="#" class="HomeModule-pendingText">
              <span> <span class="text-red">2 </span> Episodios disponibles hoy </span>
              <span class="miniButton"> Ver todos</span>
            </a>
          </div>
          <div class="HomeModule-items">
            <div class="CardMedia">
              <div class="CardMedia-top">
                <img src="img/cardmedia.jpg" class="CardMedia-img">
                </img>
                <a href="#" class="CardMedia-name"> Los simpsons</a>
              </div>
              <div class="CardMedia-bottom">
                <a href="#" class="CardMedia-cTitle">
                  <span class="CardMedia-episodeText"> 1x1 </span>
                  <p class="CardMedia-mainText"> Sin blanca Navidad </p>
                </a>
                <a href="#" class="CardMedia-iconView">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
            </div>
            <div class="CardMedia">
              <div class="CardMedia-top">
                <img src="img/cardmedia.jpg" class="CardMedia-img">
                </img>
                <a href="#" class="CardMedia-name"> Los simpsons</a>
              </div>
              <div class="CardMedia-bottom">
                <a href="#" class="CardMedia-cTitle">
                  <span class="CardMedia-episodeText"> 1x1 </span>
                  <p class="CardMedia-mainText"> Sin blanca Navidad </p>
                </a>
                <a href="#" class="CardMedia-iconView">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
            </div>
            <div class="CardMedia">
              <div class="CardMedia-top">
                <img src="img/cardmedia.jpg" class="CardMedia-img">
                </img>
                <a href="#" class="CardMedia-name"> Los simpsons</a>
              </div>
              <div class="CardMedia-bottom">
                <a href="#" class="CardMedia-cTitle">
                  <span class="CardMedia-episodeText"> 1x1 </span>
                  <p class="CardMedia-mainText"> Sin blanca Navidad </p>
                </a>
                <a href="#" class="CardMedia-iconView">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
            </div>
            <div class="CardMedia">
              <div class="CardMedia-top">
                <img src="img/cardmedia.jpg" class="CardMedia-img">
                </img>
                <a href="#" class="CardMedia-name"> Los simpsons</a>
              </div>
              <div class="CardMedia-bottom">
                <a href="#" class="CardMedia-cTitle">
                  <span class="CardMedia-episodeText"> 1x1 </span>
                  <p class="CardMedia-mainText"> Sin blanca Navidad </p>
                </a>
                <a href="#" class="CardMedia-iconView">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="HomeModule-subtitle">
            <a href="#" class="HomeModule-pendingText">
              <span> <span class="text-red"> 1 </span> Películas pendiente</span>
              <span class="miniButton"> Ver todos</span>
            </a>
          </div>
          <div class="HomeModule-items">
            <div class="CardMedia">
              <div class="CardMedia-top">
                <img src="img/cardmedia.jpg" class="CardMedia-img">
                </img>
                <a href="#" class="CardMedia-name"> Los simpsons</a>
              </div>
              <div class="CardMedia-bottom">
                <a href="#" class="CardMedia-cTitle">
                  <span class="CardMedia-episodeText"> 1x1 </span>
                  <p class="CardMedia-mainText"> Sin blanca Navidad </p>
                </a>
                <a href="#" class="CardMedia-iconView">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
            </div>
            <div class="CardMedia">
              <div class="CardMedia-top">
                <img src="img/cardmedia.jpg" class="CardMedia-img">
                </img>
                <a href="#" class="CardMedia-name"> Los simpsons</a>
              </div>
              <div class="CardMedia-bottom">
                <a href="#" class="CardMedia-cTitle">
                  <span class="CardMedia-episodeText"> 1x1 </span>
                  <p class="CardMedia-mainText"> Sin blanca Navidad </p>
                </a>
                <a href="#" class="CardMedia-iconView">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
            </div>
            <div class="CardMedia">
              <div class="CardMedia-top">
                <img src="img/cardmedia.jpg" class="CardMedia-img">
                </img>
                <a href="#" class="CardMedia-name"> Los simpsons</a>
              </div>
              <div class="CardMedia-bottom">
                <a href="#" class="CardMedia-cTitle">
                  <span class="CardMedia-episodeText"> 1x1 </span>
                  <p class="CardMedia-mainText"> Sin blanca Navidad </p>
                </a>
                <a href="#" class="CardMedia-iconView">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
            </div>
            <div class="CardMedia">
              <div class="CardMedia-top">
                <img src="img/cardmedia.jpg" class="CardMedia-img">
                </img>
                <a href="#" class="CardMedia-name"> Los simpsons</a>
              </div>
              <div class="CardMedia-bottom">
                <a href="#" class="CardMedia-cTitle">
                  <span class="CardMedia-episodeText"> 1x1 </span>
                  <p class="CardMedia-mainText"> Sin blanca Navidad </p>
                </a>
                <a href="#" class="CardMedia-iconView">
                  <i class="fa fa-eye"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="HomeModule">
        <div class="HomeModule-icon">
          <i class="fa fa-lightbulb-o"></i>
        </div>
        <div class="HomeModule-container">
          <a href="#" class="HomeModule-title">
            Descubre
          </a>
          <div class="HomeModule-options">
            <a href="#" class="HomeModule-textOptions"> <i class="fa fa-star"></i> Recomendado</a>
            <a href="#" class="HomeModule-textOptions"> <i class="fa fa-list"></i> Listas</a>
            <a href="#" class="HomeModule-textOptions"> <i class="fa fa-th"></i> Catálogo</a>
          </div>
          <div class="HomeModule-items">
            <div class="CardMedia">
              <div class="CardMedia-top">
                <img src="img/peterpan.jpg" class="CardMedia-img">
                </img>
              </div>
              <div class="CardMedia-bottomLarge">
                <a href="#" class="CardMedia-cTitle CardMedia--titleGrey">
                  <p class="CardMedia-mainText CardMedia--titleGrey"> Pan (Viaje Nunca Jamás) </p>
                </a>
                <a class="CardMedia-iconEllipsis">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <div class="CardMedia-hiddenData">
                  <a href="#" class="CardMedia-linkHidden"> Vista </a>
                  <a href="#" class="CardMedia-linkHidden"> Pendiente </a>
                </div>
              </div>
            </div>
            <div class="CardMedia">
              <div class="CardMedia-top">
                <img src="img/peterpan.jpg" class="CardMedia-img">
                </img>
              </div>
              <div class="CardMedia-bottomLarge">
                <a href="#" class="CardMedia-cTitle CardMedia--titleGrey">
                  <p class="CardMedia-mainText CardMedia--titleGrey"> Pan (Viaje Nunca Jamás) </p>
                </a>
                <a href="#" class="CardMedia-iconEllipsis">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <div class="CardMedia-hiddenData">
                  <a href="#" class="CardMedia-linkHidden"> Vista </a>
                  <a href="#" class="CardMedia-linkHidden"> Pendiente </a>
                </div>
              </div>
            </div>
            <div class="CardMedia">
              <div class="CardMedia-top">
                <img src="img/peterpan.jpg" class="CardMedia-img">
                </img>
              </div>
              <div class="CardMedia-bottomLarge">
                <a href="#" class="CardMedia-cTitle CardMedia--titleGrey">
                  <p class="CardMedia-mainText CardMedia--titleGrey"> Pan (Viaje Nunca Jamás) </p>
                </a>
                <a href="#" class="CardMedia-iconEllipsis">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <div class="CardMedia-hiddenData">
                  <a href="#" class="CardMedia-linkHidden"> Vista </a>
                  <a href="#" class="CardMedia-linkHidden"> Pendiente </a>
                </div>
              </div>
            </div>
            <div class="CardMedia">
              <div class="CardMedia-top">
                <img src="img/peterpan.jpg" class="CardMedia-img">
                </img>
              </div>
              <div class="CardMedia-bottomLarge">
                <a href="#" class="CardMedia-cTitle CardMedia--titleGrey">
                  <p class="CardMedia-mainText CardMedia--titleGrey"> Pan (Viaje Nunca Jamás) </p>
                </a>
                <a href="#" class="CardMedia-iconEllipsis">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <div class="CardMedia-hiddenData">
                  <a href="#" class="CardMedia-linkHidden"> Vista </a>
                  <a href="#" class="CardMedia-linkHidden"> Pendiente </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="HomeModule">
        <div class="HomeModule-icon">
          <i class="fa fa-list"></i>
        </div>
        <div class="HomeModule-container">
          <a href="#" class="HomeModule-title">
            Noticias
          </a>
          <div class="HomeModule-options">
            <a href="#" class="HomeModule-textOptions">Recientes</a>
            <a href="#" class="HomeModule-textOptions">Más Vistas</a>
            <a href="#" class="HomeModule-textOptions">Revista </a>
          </div>
          <div class="HomeModule-items">
            <div class="CardNotice">
              <div class="CardNotice-top">
                <img src="img/notice.jpg" class="CardNotice-img">
                </img>
              </div>
              <div class="CardNotice-content">
                <h3 class="CardNotice-title">
                  <a href="#" class="CardNotice-linkTitle">‘Juego de tronos’, la mejor serie de 2015 para los lectores</a>
                </h3>
                <p class="CardNotice-description">
                    Fargo' y 'El Ministerio del Tiempo' completan el podio de ficciones televisivas del año Es la serie que más pasiones mueve en todo el mundo, toda una superproducción que sabe cómo...
                  </p>
                  <a href="#" class="CardNotice-linkMore">
                    Leer más
                  </a>
              </div>
              <div class="CardNotice-bottom">
                <span class="CardNotice-date">Publicador por <a href="#"class="CardNotice-author">Alexei Mamani </a> hace un día</span>
              </div>
            </div>
            <div class="CardNotice">
              <div class="CardNotice-top">
                <img src="img/notice.jpg" class="CardNotice-img">
                </img>
              </div>
              <div class="CardNotice-content">
                <h3 class="CardNotice-title">
                  <a href="#" class="CardNotice-linkTitle">‘Juego de tronos’, la mejor serie de 2015 para los lectores</a>
                </h3>
                <p class="CardNotice-description">
                    Fargo' y 'El Ministerio del Tiempo' completan el podio de ficciones televisivas del año Es la serie que más pasiones mueve en todo el mundo, toda una superproducción que sabe cómo...
                  </p>
                  <a href="#" class="CardNotice-linkMore">
                    Leer más
                  </a>
              </div>
              <div class="CardNotice-bottom">
                <span class="CardNotice-date">Publicador por <a href="#"class="CardNotice-author">Alexei Mamani </a> hace un día</span>
              </div>
            </div>
            <div class="CardNotice">
              <div class="CardNotice-top">
                <img src="img/notice.jpg" class="CardNotice-img">
                </img>
              </div>
              <div class="CardNotice-content">
                <h3 class="CardNotice-title">
                  <a href="#" class="CardNotice-linkTitle">‘Juego de tronos’, la mejor serie de 2015 para los lectores</a>
                </h3>
                <p class="CardNotice-description">
                    Fargo' y 'El Ministerio del Tiempo' completan el podio de ficciones televisivas del año Es la serie que más pasiones mueve en todo el mundo, toda una superproducción que sabe cómo...
                  </p>
                  <a href="#" class="CardNotice-linkMore">
                    Leer más
                  </a>
              </div>
              <div class="CardNotice-bottom">
                <span class="CardNotice-date">Publicador por <a href="#"class="CardNotice-author">Alexei Mamani </a> hace un día</span>
              </div>
            </div>
            <div class="CardNotice">
              <div class="CardNotice-top">
                <img src="img/notice.jpg" class="CardNotice-img">
                </img>
              </div>
              <div class="CardNotice-content">
                <h3 class="CardNotice-title">
                  <a href="#" class="CardNotice-linkTitle">‘Juego de tronos’, la mejor serie de 2015 para los lectores</a>
                </h3>
                <p class="CardNotice-description">
                    Fargo' y 'El Ministerio del Tiempo' completan el podio de ficciones televisivas del año Es la serie que más pasiones mueve en todo el mundo, toda una superproducción que sabe cómo...
                  </p>
                  <a href="#" class="CardNotice-linkMore">
                    Leer más
                  </a>
              </div>
              <div class="CardNotice-bottom">
                <span class="CardNotice-date">Publicador por <a href="#"class="CardNotice-author">Alexei Mamani </a> hace un día</span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
  <div class="Layout-sidebar">
    <div class="Sidebar">

      <div class="Sidebar-module">
        <div class="HomeModuleUser">
          <div class="HomeModuleUser-top">
            <%= link_to settings_path, class: "HomeModuleUser-linkUser" do %>
              <%= @user.nickname %>
              <span class="HomeModuleUser-editIcon">
                <i class="fa fa-pencil"></i>
              </span>
            <% end %>
          </div>
          <div class="HomeModuleUser-content">
            <div class="HomeModuleUser-statUser">
              <a href="#" class="HomeModuleUser-titleStat">
                <i class="fa fa-list-alt"></i> Mi colección 
              </a>
              <span class="text-red smallText"> 13 </span>
            </div>
            <div class="HomeModuleUser-statUser">
              <a href="#" class="HomeModuleUser-titleStat">
                <i class="fa fa-users"></i> Siguiendo 
              </a>
              <span class="text-red smallText"> 1 </span>
            </div>
          </div>
        </div>
      </div>

      <div class="Sidebar-module">
        <div class="Ads">
          <div class="Ads-box">

          </div>
        </div>
      </div>

      <div class="Sidebar-module">
        <div class="Widget">
          <div class="Widget-top">
            <h3 class="Widget-title">
              A quién seguir
            </h3>
            <div class="Widget-action">
              <a href="#" class="Widget-iconAction">
                <i class="fa fa-refresh"></i>
              </a>
            </div>
          </div>
          <div class="Widget-content">
            <div class="ModuleFollow">
              <div class="ModuleFollow-items">
                <div class="FollowCard">
                  <img src="img/fry.png" alt="" class="FollowCard-userPhoto">
                  <div class="FollowCard-content">
                    <h3 class="FollowCard-nameUser">
                      Clara Oswin Oswald
                    </h3>
                    <p class="FollowCard-textFollow">
                      Seguido por 129 usuarios
                    </p>
                    <p class="FollowCard-textAfinity">
                      19% de afinidad
                    </p>
                  </div>
                  <a  href="#" class="FollowCard-buttonFollow">
                    Seguir
                  </a>
                </div>
                <div class="FollowCard">
                  <img src="img/fry.png" alt="" class="FollowCard-userPhoto">

                  <div class="FollowCard-content">
                    <h3 class="FollowCard-nameUser">
                      Clara Oswin Oswald
                    </h3>
                    <p class="FollowCard-textFollow">
                      Seguido por 129 usuarios
                    </p>
                    <p class="FollowCard-textAfinity">
                      19% de afinidad
                    </p>
                  </div>
                  <a  href="#" class="FollowCard-buttonFollow">
                    Seguir
                  </a>
                </div> 
                <div class="FollowCard">
                  <img src="img/fry.png" alt="" class="FollowCard-userPhoto">
                  <div class="FollowCard-content">
                    <h3 class="FollowCard-nameUser">
                      Clara Oswin Oswald
                    </h3>
                    <p class="FollowCard-textFollow">
                      Seguido por 129 usuarios
                    </p>
                    <p class="FollowCard-textAfinity">
                      19% de afinidad
                    </p>
                  </div>
                  <a  href="#" class="FollowCard-buttonFollow">
                    Seguir
                  </a>
                </div> 
              </div>
              <div class="ModuleFollow-bottom">
                <a href="#" class="ModuleFollow-actionsText">Invita a tus amigos</a>
                <a href="#" class="ModuleFollow-actionsText">Ver más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="Sidebar-module">
        <div class="Widget">
          <div class="Widget-top">
            <h3 class="Widget-title">
              Actividad
            </h3>
          </div>
        </div>
        <div class="Widget-content">
          <div class="FlashView">
            <img src="img/fry.png" alt="avatar" class="FlashView-img"></img>
            <div class="FlashView-content">
              <span class="FlashView-textAction">
                Jhonatan Gonzáles <b>sigue</b> la serie <b>In the Flesh</b>
              </span>
              <p class="FlashView-time">
                Hace un año
              </p>
            </div>
            <img src="img/cover1.jpg" alt="coverMedia" class="FlashView-coverMedia">
            </img>
          </div>
          <div class="FlashView">
            <img src="img/fry.png" alt="avatar" class="FlashView-img"></img>
            <div class="FlashView-content">
              <span class="FlashView-textAction">
                Jhonatan Gonzáles <b>sigue</b> la serie <b>In the Flesh</b>
              </span>
              <p class="FlashView-time">
                Hace un año
              </p>
            </div>
            <img src="img/cover1.jpg" alt="coverMedia" class="FlashView-coverMedia">
            </img>
          </div>
        </div>
        <div class="Sidebar-module">
          <div class="Ads">
            <div class="Ads-box">

            </div>
        </div>
      </div>
      </div>

    </div>
  </div>
</div>
</div>