<div class="Layout">
    <div class="Layout-slide1">
      <div class="Layout-content">
        <div class="Slide">
          <div class="Slide-content">
            <h2 class="Slide-mainText">
              Sigue las mejores peliculas y series de tus amigos, comparte las tuyas
            </h2>
            <div class="Slide-streamViews">
              <div class="StreamViews">
                <h4 class="StreamViews-title">
                  Lo que está, pasando ahora.
                </h4>
                <div class="StreamViews-card">
                  <div class="FlashView">
                    <%= image_tag "fry.png", class: "FlashView-img" %>
                    <div class="FlashView-content">
                      <span class="FlashView-textAction">
                        Jhonatan Gonzáles <b>sigue</b> la serie <b>In the Flesh</b>
                      </span>
                      <p class="FlashView-time">
                        Hace un año
                      </p>
                    </div>
                    <%= image_tag "cover1.jpg", class: "FlashView-coverMedia" %>
                  </div>
                  <div class="FlashView">
                    <%= image_tag "fry.png", class: "FlashView-img" %>
                    <div class="FlashView-content">
                      <span class="FlashView-textAction">
                        Jhonatan Gonzáles <b>sigue</b> la serie <b>In the Flesh</b>
                      </span>
                      <p class="FlashView-time">
                        Hace un año
                      </p>
                    </div>
                    <%= image_tag "cover1.jpg", class: "FlashView-coverMedia" %>
                  </div>
                  <div class="FlashView">
                    <%= image_tag "fry.png", class: "FlashView-img" %>
                    <div class="FlashView-content">
                      <span class="FlashView-textAction">
                        Jhonatan Gonzáles <b>sigue</b> la serie <b>In the Flesh</b>
                      </span>
                      <p class="FlashView-time">
                        Hace un año
                      </p>
                    </div>
                    <%= image_tag "cover1.jpg", class: "FlashView-coverMedia" %>
                  </div>
                  <div class="FlashView">
                    <%= image_tag "fry.png", class: "FlashView-img" %>
                    <div class="FlashView-content">
                      <span class="FlashView-textAction">
                        Jhonatan Gonzáles <b>sigue</b> la serie <b>In the Flesh</b>
                      </span>
                      <p class="FlashView-time">
                        Hace un año
                      </p>
                    </div>
                    <%= image_tag "cover1.jpg", class: "FlashView-coverMedia" %>
                  </div>
                  <div class="FlashView">
                    <%= image_tag "fry.png", class: "FlashView-img" %>
                    <div class="FlashView-content">
                      <span class="FlashView-textAction">
                        Jhonatan Gonzáles <b>sigue</b> la serie <b>In the Flesh</b>
                      </span>
                      <p class="FlashView-time">
                        Hace un año
                      </p>
                    </div>
                    <%= image_tag "cover1.jpg", class: "FlashView-coverMedia" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="Slide-session">
              <div class="Login">
                <%= form_for(:user, :url => session_path(:user)) do |f| %>
                  <div class="Login-field">
                    <%= f.text_field :email, class: "Login-input", placeholder: "Correo Electrónico" %>
                  </div>
                  <div class="Login-field">
                    <%= f.password_field :password, class: "Login-input", placeholder: "Contraseña" %>
                  </div>
                  <div class="Login-field">
                     <%= f.submit class: "Login-submit", value: "Entrar" %>
                  </div>
                  <div class="Login-actions">
                    <a href="#" class="Login-registerButton"> Registrarme</a>
                  </div>
                  <div class="Login-socialLogin">
                    <%= link_to omniauth_authorize_path(:user, "twitter"), class: "Login-twitter" do %>
                    <i class="fa fa-twitter"></i>
                    <% end %>
                    <%= link_to omniauth_authorize_path(:user, "facebook"), class: "Login-facebook" do %>
                      <i class="fa fa-facebook"></i>
                    <% end %>
                    <%= link_to omniauth_authorize_path(:user, "google_oauth2"), class: "Login-google" do %>
                      <i class="fa fa-google-plus"></i>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Layout-infoStats">
      <div class="Layout-content">
        <div class="InfoStats">
          <h3 class="InfoStats-mainText">
            Tenemos:
          </h3>
          <div class="InfoStats-information">
            <p class="InfoStats-text"> +1200 peliculas , +500 Series, +3000 usuarios</p>
          </div>
        </div>
      </div>
    </div>
    <div class="Layout-whatView">
      <div class="Layout-content">
        <div class="WhatView">
          <div class="WhatView-wrapper">
            <h2 class="WhatView-mainText">
              ¿Qué puedes ver ahora?
            </h2>
            <p class="WhatView-text">
              Crea tu perfil ahora, y disfruta de las mejores películas y series que tenemos disponibles y lo que más coincide con tus gustos
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="Layout-streamViews">
      <div class="Layout-content">
        <div class="StreamViews">
          <h4 class="StreamViews-title">
            Lo que está, pasando ahora.
          </h4>
          <div class="StreamViews-card">
            <div class="FlashView">
              <%= image_tag 'fry.png', class: 'FlashView-img' %>
              <div class="FlashView-content">
                <span class="FlashView-textAction">
                  Jhonatan Gonzáles <b>sigue</b> la serie <b>In the Flesh</b>
                </span>
                <p class="FlashView-time">
                  Hace un año
                </p>
              </div>
              <img src="img/cover1.jpg" alt="coverMedia" class="FlashView-coverMedia">
              </img>
            </div>
            <div class="FlashView">
              <img src="img/fry.png" alt="avatar" class="FlashView-img"></img>
              <div class="FlashView-content">
                <span class="FlashView-textAction">
                  Jhonatan Gonzáles <b>sigue</b> la serie <b>In the Flesh</b>
                </span>
                <p class="FlashView-time">
                  Hace un año
                </p>
              </div>
              <img src="img/cover1.jpg" alt="coverMedia" class="FlashView-coverMedia">
              </img>
            </div>
            <div class="FlashView">
              <img src="img/fry.png" alt="avatar" class="FlashView-img"></img>
              <div class="FlashView-content">
                <span class="FlashView-textAction">
                  Jhonatan Gonzáles <b>sigue</b> la serie <b>In the Flesh</b>
                </span>
                <p class="FlashView-time">
                  Hace un año
                </p>
              </div>
              <img src="img/cover1.jpg" alt="coverMedia" class="FlashView-coverMedia">
              </img>
            </div>
            <div class="FlashView">
              <img src="img/fry.png" alt="avatar" class="FlashView-img"></img>
              <div class="FlashView-content">
                <span class="FlashView-textAction">
                  Jhonatan Gonzáles <b>sigue</b> la serie <b>In the Flesh</b>
                </span>
                <p class="FlashView-time">
                  Hace un año
                </p>
              </div>
              <img src="img/cover1.jpg" alt="coverMedia" class="FlashView-coverMedia">
              </img>
            </div>
            <div class="FlashView">
              <img src="img/fry.png" alt="avatar" class="FlashView-img"></img>
              <div class="FlashView-content">
                <span class="FlashView-textAction">
                  Jhonatan Gonzáles <b>sigue</b> la serie <b>In the Flesh</b>
                </span>
                <p class="FlashView-time">
                  Hace un año
                </p>
              </div>
              <img src="img/cover1.jpg" alt="coverMedia" class="FlashView-coverMedia">
              </img>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Layout-infoFeatures">
      <div class="Layout-content featured-flex">
        <div class="Featured">
          <p class="Featured-icon">
            <i class="fa fa-file-video-o"></i>
          </img>
          <h4 class="Featured-title">Crea tu colección</h4>
          <p class="Featured-infoText">Califica las peliculas que más te gustaron, marca las series que ya haz visto, las que estas siguiendo, las que quieres ver</p>
        </div>
        <div class="Featured">
          <p class="Featured-icon">
            <i class="fa fa-users"></i>
          </img>
          <h4 class="Featured-title">Comparte</h4>
          <p class="Featured-infoText">Comparte y dejate recomendar por tus amigos las series o peliculas que le ha cambiado la vida, le ha hecho llorar o quizás morirse de la risa  </p>
        </div>
      </div>
    </div>
    <div class="Layout-checkAll">
      <div class="Layout-content">
        <div class="CheckAll">
          <div class="CheckAll-wrapper">
            <h4 class="CheckAll-title">
              No importa estes, donde estés
            </h4>
            <p class="CheckAll-text">
              Pensada para que no encuentres diferencia entre tu ordenador o tu smartphone, Es totalmente compatible con todos tus dispositivos.
            </p>
          </div>
        </div>
      </div>
    </div>