<p id="notice"><%= notice %></p>

<h1>Listing Titles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Overview</th>
      <th>Poster</th>
      <th>Tagline</th>
      <th>Trailer</th>
      <th>Imbd</th>
      <th>Tmbd</th>
      <th>Vote average</th>
      <th>Release date</th>
      <th>Background</th>
      <th>Runtime</th>
      <th>Status</th>
      <th>Budget</th>
      <th>Revenue</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @titles.each do |title| %>
      <tr>
        <td><%= title.title %></td>
        <td><%= title.type %></td>
        <td><%= title.overview %></td>
        <td><%= title.poster %></td>
        <td><%= title.tagline %></td>
        <td><%= title.trailer %></td>
        <td><%= title.imbd_id %></td>
        <td><%= title.tmbd_id %></td>
        <td><%= title.vote_average %></td>
        <td><%= title.release_date %></td>
        <td><%= title.background %></td>
        <td><%= title.runtime %></td>
        <td><%= title.status %></td>
        <td><%= title.budget %></td>
        <td><%= title.revenue %></td>
        <td><%= title.country %></td>
        <td><%= link_to 'Show', title %></td>
        <td><%= link_to 'Edit', edit_title_path(title) %></td>
        <td><%= link_to 'Destroy', title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Title', new_title_path %>
