<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @title.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @title.type %>
</p>

<p>
  <strong>Overview:</strong>
  <%= @title.overview %>
</p>

<p>
  <strong>Poster:</strong>
  <%= @title.poster %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @title.tagline %>
</p>

<p>
  <strong>Trailer:</strong>
  <%= @title.trailer %>
</p>

<p>
  <strong>Imbd:</strong>
  <%= @title.imbd_id %>
</p>

<p>
  <strong>Tmbd:</strong>
  <%= @title.tmbd_id %>
</p>

<p>
  <strong>Vote average:</strong>
  <%= @title.vote_average %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @title.release_date %>
</p>

<p>
  <strong>Background:</strong>
  <%= @title.background %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @title.runtime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @title.status %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @title.budget %>
</p>

<p>
  <strong>Revenue:</strong>
  <%= @title.revenue %>
</p>

<p>
  <strong>Country:</strong>
  <%= @title.country %>
</p>
<p>
  <strong>Backdrop:</strong>
  <%= @title.backdrop %>
</p>
<p>
  <strong>Website:</strong>
  <%= @title.website %>
</p>

<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
