<div class="Layout">
  <div class="Layout-sessionLayout">
    <div class="Layout-content flex-center">
      <div class="Session">
        <div class="Session-titleContainer">
          <h3 class="Session-title">
            <%= t('.sign_in', :default => "Iniciar Sesión") %>
          </h3>
        </div>
        <p class="Session-subtitle">
          Ingresa al mundo de las peliculas y series
        </p>
        <div class="Session-login">
          <div class="Login">
              <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: "Login-front"}) do |f| %>
                <div class="Login-field">
                  <%= f.email_field :email , class: "Login-input", placeholder: "Correo Electronico" %>
                </div>
                <div class="Login-field">
                  <%= f.password_field :password, class:"Login-input", placeholder: "Contraseña" %>
                </div>
                <div class="Login-field">
                  <% if devise_mapping.rememberable? -%>
                   <%= f.check_box :remember_me %> <%= f.label :remember_me, class: "Login-label" %>
                  <% end %>                  
                </div>
                <div class="Login-field">
                   <%= f.submit t('.sign_in', :default => "Entrar"),  class: "Login-submit" %>
                </div>
                <div class="Login-socialLogin">
                  <%= link_to omniauth_authorize_path(resource_name, "twitter"), class: "Login-twitter" do %>
                    <i class="fa fa-twitter"></i>
                  <% end %>
                  <%= link_to omniauth_authorize_path(resource_name, "facebook"), class: "Login-facebook" do %>
                    <i class="fa fa-facebook"></i>
                  <% end %>
                  <%= link_to omniauth_authorize_path(resource_name, "google_oauth2"), class: "Login-google" do %>
                    <i class="fa fa-google-plus"></i>
                  <% end %>
                </div>
              <% end %>
          </div>
        </div>
        <div class="Session-bottom">
          <p class="Session-text">
            ¿Eres nuevo?
          </p>
          <%= link_to t('.registerLink'), new_registration_path(resource_name), class: "Session-linkRegister" %><br />
          <% render "devise/shared/links" %>
        </div>
      </div>
    </div> 
  </div>