<%= form_for [:dashboard , @person] do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :biography %>
    <%= f.text_area :biography, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :birthday %>
    <%= f.text_field :birthday, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :deathday %>
    <%= f.text_field :deathday , class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :homepage %>
    <%= f.text_field :homepage, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :imdb_id %>
    <%= f.text_field :imdb_id , class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :tmdb_id %>
    <%= f.text_field :tmdb_id , class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.text_field :image , class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :place_to_birth %>
    <%= f.text_field :place_to_birth , class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
