<div id="wrapper">
  <%= render '/dashboard/partials/nav' %>
  <!--/. NAV TOP  -->
        
  <%= render '/dashboard/partials/menu' %>
    
  <div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    Editar
                </h1>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
             <%= render 'form' %>
          </div>  
        </div>
          <%= link_to 'Regresar', dashboard_people_path %>
    </div>
  </div>


</div> 
