<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Titulos
            </h1>
        </div>
    </div>       
    <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
                Películas
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <%= link_to new_dashboard_title_path, class: "btn btn-primary btn-lg" do %>
                       <i class="fa fa-plus"></i> Crear Titulo</a>
                    <% end %>
                    
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Biografia</th>
                                <th>Cumpleaños</th>
                                <th>Lugar de Nacimiento</th>
                                <th>Creado en</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @people.each do |person| %>
                              <tr>
                                  <td><%= image_tag person.image, class: "poster-medium" %></td>
                                  <td><%= person.name %></td>
                                  <td><%= truncate person.biography %></td>
                                  <td><%= person.birthday %> </td>
                                  <td><%= person.place_to_birth %></td>
                                  <td><%= person.created_at %></td>
                                  <td>
                                    <%= link_to edit_dashboard_person_path(person), class: "btn-primary btn" do %>
                                        <i class="fa fa-edit "></i> Editar
                                    <% end %>
                                    <%= link_to dashboard_person_path(person), method: :delete, data: { confirm: 'Estas seguro?' }, class: "btn btn-danger" do %>
                                        <i class="fa fa-pencil"></i> Borrar</button>
                                    <% end %>
                                  </td>
                              </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
    </div>
    <!-- /. ROW  -->
    <footer><p>All right reserved. </footer>
</div>

