.Button{
    margin: .5em;
    &-blue{
        color: white;
        padding: .6em 1.3em;
        background: #00BAE0;
        text-decoration: none;
        margin: 0;
        display: block;
        align-self: center;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 0.9em;
        transition: .3s all;
        &:hover{
          background: rgba(#00BAE0,0.7);
        }
    }
}