.CardNotice{
  width: 100%;
  box-shadow: 1px 1px 2px gray;
  &-img{
    width: 100%;
  }
  &-content{
    background: white;
    padding: 1em 1em;
  }
  &-title{
    margin: 0;
    font-weight: 300;
  }
  &-linkTitle{
    text-decoration: none;
    color: #3A3A3A;
    &:hover{
      color: $textBlueFont;
      text-decoration: underline;
    }
  }
  &-description{
    font-size: .95em;
    font-weight: 300;
    color: $textFont;
  }
  &-linkMore{
    color: $textBlueFont;
    text-decoration: none;
    font-weight: 500;
    font-size: .9em;
    &:hover{
      text-decoration: underline;
    } 
  }
  &-bottom{
    background: #E7E7E7;
    padding: 1.6em;
  }
  &-date{
    font-size: .85em;
    font-weight: 300;
  }
  &-author{
    color: $textBlueFont;
    text-decoration: none;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}