.CardMedia{
  width: 333px;
  box-shadow: 1px 1px 2px #D4D4D4;
  margin-bottom: 1em;
  &-top{
    width: 100%;
    max-height: 187px;
    position: relative;
  }
  &-img{
    width: 100%;
  }
  &-name{
    position: absolute;
    bottom: 13px;
    left: 18px;
    color: white;
    text-shadow: 1px 1px 4px black;
    text-decoration: none;
    font-weight: 400;
  }
  &-bottom{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: .5em .5em;
  }
  &-cTitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration:none;
    animation: 1s all;
    color: $textBlueFont;
    width: 90%;
    &:hover{
      text-decoration: underline;
    }
  }
  &-episodeText{
    color: $textFont;
    font-size: .8em;
    font-weight: 300;
  }
  &-mainText{
    margin: 0 0 0 .5em;
    color: $textBlueFont;
    font-weight: 300;
    font-size: .8em;
  }
  &-iconView{
    color: $textFont;
    font-size: 1.5em;
    text-decoration: none;
  }

  /* Other Actions for bottom large */

  &-bottomLarge{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    padding: 1em;
    height: 60px;
    align-items: flex-start;
    transition: .3s ease-in all;
    z-index:20;
    position:relative;
    &:hover{
      height: 150px;
      transition: .3s ease-in all;
      margin-top: -92px;
      & .CardMedia-hiddenData{
            height: 63%;
            overflow:none;
        }
      }
    }
  &--titleGrey{
    font-size: 1em;
    color: #424242;
    margin: 0;
  }
  &-iconEllipsis{
    color: $textFont;
    font-size: 1em;
    text-decoration: none;
    &:focus .CardMedia-bottomLarge{
      height: 140px;
      margin-top: -80px;
    }
  }
  &-hiddenData{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    box-sizing: border-box;
    width:100%;
    height: 0px;
    overflow:hidden;
    transition: .3s ease-in all;
  }
  &-linkHidden{
    color: $textFont;
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 1em;
    &:hover{
      color: black;
    }
  }
  &-coverFilm{
    width: 47%;
    margin-left: .5em;
    box-sizing: border-box;
  }
  &-topFilm{
    width: 100%;
    height: 100%;
    position: relative;
    z-index:-5;
  }
}