.CardActor{
    width: 250px;
    margin: 0 auto;
    box-shadow: 1px 1px 1px rgba(black,0.6);
    &-top{
        height: 300px;
        text-align: center;
    }
    &-bottom{
        background: white;
        width: 100%;
        padding: 1em;
        box-sizing:border-box;
        text-align: center;
    }
    &-follow{
        color: #717171;
        margin:0;
        font-size: 1em;
        text-align: center;
        font-weight: 300;
        text-decoration: none;
        &:hover{
            color: black;
        }
    }
}