.Collection{
    dispay:flex;
    flex-direction: column;
    padding: .5em;
    &-manager{
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        margin-top: 1em;
    }
    &-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}