.Critics{
    display: flex;
    flex-direction: column;
    &-title{
        text-transform: uppercase;
    }
    &-comments{

    }
    &-filter{
        display: flex;
        justify-content: flex-start;
        margin: 1.3em 0;
    }
    &-fText{
        text-transform: uppercase;
        text-decoration: none;
        font-size: .9em;
        margin-right: 1em;
        font-weight: 300;
        font-style: italic;
    }
    &--fActive{
        color: $mainRed;
    }
    &--fdisable{
        color: $textFont;
    }


}