.DetailsMedia{
    &-cText{
        display: flex;
        margin: .5em 0;
    }
    &-textTitle{
        margin :0;
        color: $textFont;
        text-transform: uppercase;
        font-size: .9em;
        min-width: 170px;
    }
    &-text{
        text-transform: capitalize;
        font-size: .8em;
        font-weight: 400;
        color: black;
    }
    &-sinopsis{
        margin: 1em 0;
    }
    &-sTitle{
        margin: .5em 0;
        text-transform: uppercase;
    }
    &-sInfo{
        margin: 0;
    }
}