.FilterFull{
    margin: 1em 0;
    &-list{
        margin:0;
        padding: 0;
    }
    &-element{
        list-style: none;
        display: inline-block;
        color: white;
        margin-right: 1em;
        cursor: pointer;
        font-weight: 300;
        &:hover{
            color: $mainRed;
        }
    }
    &-tActive{
        color: $mainRed;
        font-weight: 500;
    }
}