.Filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    &-breadcrumb{
        width: 50%;
    }
    &-bText{
        text-transform: uppercase;
    }
    &-tActive{
        color: $mainRed !important;
    }
    &-list{
        margin: 0;
        padding: 0;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
    }
    &-element{
        list-style:none;
        text-align: center;
        width: 49.5%;
        text-transform: uppercase;
        font-size: .9em;
        color: $textFont;
        cursor:pointer;
        &:hover{
            color: $mainRed;
        }
    }
}