/* 6. Helpers */

.featured-flex{
  display: flex;
  justify-content: space-between;
}
.flex-center{
  display:flex;
  align-content:center;
  justify-content: center;
  align-items: center;
}
.title--grey{
  color: grey;
}

.bold{
  font-weight: bold;
}
.text-red{
  color: $mainRed;
  font-weight: 500;
}
.miniButton{
  color: $textBlueFont;
  font-size: .7em;
  font-weight: 400;
  text-transform: uppercase;
  animation: all 1s;
  margin-left: .7em;
}
.smallText{
  font-size: .8em;
}
.mLeft7m{
  margin-left: 7em;
}
.backgroundOscure{
  background-color: #1d1d1d; 
}

.bkGray{
  background-color: #222222;
}
.bkDark{
  background-color: #292929;
}
.poster-medium{
  width: 180px;
}

