.HomeModule{
    padding: 0 .5em;
    margin: 0 0 1em 0;
    &-title{
        color: $textFont;
        font-size: 1.35em;
        font-weight: 400;
        margin:  .4em 0;
        text-decoration:none;
        animation: all 1.5s;
        &:hover{
            text-decoration: underline;
        }
    }
    &-icon{
        display:none;
        border-radius: 50%;
        background: $mainRed;
        padding: 1em;
        color: white;
        align-self: flex-start;
        border: 1px solid transparent;
        &:hover{
            border: 1px solid $mainRed;
            background: white;
            color: $mainRed;

        }
    }
    &-options{
        border-bottom: 1px solid rgba(gray, 0.2);
        padding-bottom: .5em;
        margin-top: 0.4em;
    }
    &-textOptions{
        color: $textBlueFont;
        font-size: .8em;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        animation: all 1.5s;
        margin-right: 1.4em;
        &:hover{
            color: black;
        }
        i{
            font-size: 1.4em;
        }
    }
    &-items{
        padding: .8em 0;
    }
    &-notifyText{
        color: $textFont;
        margin: 0;
        font-weight: 300;
        font-size: 1.1em;
    }
    &-linkText{
        font-weight: 600;
        text-decoration: none;
        color: $textBlueFont ;
        display:inline-block;
        font-size: .8em;
    }
    &-subtitle{
        margin: 1em 0 .2em 0;
    }
    &-pendingText{
        text-decoration:none;
        color: $textFont;
        animation: 1s all;
        &:hover{
            text-decoration:underline;
        }
    }

}