.HomeModuleUser{
  &-top{
    background: $secondaryRed;
    padding: 1em;
    text-align: center;
    &:hover .HomeModuleUser-editIcon{
        display:inline-block;

    }
  }
  &-linkUser{
    color: white;
    text-decoration:none;
    margin: 0;
    font-weight: 200;
    font-size: 1.4em;
    &:hover{
      text-decoration: underline;
    }
  }
  &-editIcon{
    display: none;
    color: white;
    margin-left: .4em;
  }
  &-content{
    display: flex;
    padding: 1em;
    border-bottom: solid 1px rgba(gray, 0.2);
  }
  &-statUser{
    margin-right: 1.2em;
  }
  &-titleStat{
    font-size: .8em;
    font-weight: 300;
    color: $textFont;
    text-decoration:none;
    text-transform:uppercase;
    margin-right:.5em;
    &:hover{
      color:black;
    }
  }
}