.InfoActor{
    &-filter{

    }
    &-filterText{
        text-transform: uppercase;
        text-decoration: none;
        font-size: .8em;
        font-weight: 300;
        padding: 10px 15px;
        transition: all 1s;
        font-family: 'Roboto Condensed', sans-serif;
        &:hover{
            border-bottom: 2px solid $mainRed;
        }
    }
    &-fActive{
        color: $mainRed;
        border-bottom: 2px solid $mainRed;
    }
    &-fDisable{
        color: $textFont;
        border-bottom: 2px solid $textFont;
    }
    &-content{
        margin: 2em 0;
    }
    &-dataText{
        font-weight: 400;
        font-size: .9em;
        margin: .5em 0;
    }
    &-text{
        font-weight: 300;
    }
    &-titleText{
        font-size: 1.3em;
        font-weight: 300;
        margin: 0;
    }
    &-lastWorksC{
        display: flex;
        flex-wrap: wrap;
    }
}