.LateralVerticalMenu{
  padding: 1em;
  &-menu{
    margin: 0;
    padding: 0;
  }
  &-element{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &-link{
    padding: .6em;
    text-decoration: none;
    color: $textFont;
    display: block;
    font-size: .9em;
    font-weight: 300;
    &:hover{
      color: $mainRed;
    }
  }
  &-active{
    color: $mainRed;
  }
}