.List{
    width: 50%;
    height: 250px;
    position: relative;
    overflow: hidden;
    transition: 1s all;
    &-bk{
        position: absolute;
        top: 0;
        transition: 1s all;
    }
    &-inner{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: rgba(black,0.8);
    }
    &-link{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        &:hover .List-bk{
            transform: scale(1.3);
        }
    }
    &-innerC{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        text-align: center;
    }
    &-title{
        color :white;
        font-size: 1.4em;
        font-weight: 300;
        margin:0;
    }
    &-subtitle{
        color: white;
        margin: 0;
        font-size: .8em;
    }
    &-followers{
        margin: 0;
        color: #BFBFBF;
        font-size: .7em;
    }
}