.MainTop{
  background: rgba(black,0.5);
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  position: fixed;
  top:0;
  width:100%;
  z-index:100;
  &-buttonMenu,
  &-search{
    text-decoration: none;
    flex-basis: 8%;
    text-align: center;
    color:white;
    font-size:1.1em;

  }
  &-logo{
    flex-basis: 80%;
    text-align: center;
    color:white;
    font-size: 1.5rem;
  }
  &-cAvatar{
    height: 100%;
    display:flex;
    align-items: center;
  }
  &-imgAvatar{
    height: 70%;
    border-radius: 50%;
  }
  &-notifications{
    margin-right:.5em;
  }

}