.MobileMediaVideo{
    position: relative;
    padding: 3em 0;
    text-align: center;
    &-title{
        margin: 0;
        color: white;
        font-size: 1em;
    }
    &-subtitle{
        margin: 0 ;
        color: white;
        font-size: .7em;
    }
    &-actions{
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    }
    &-button{
        background: rgba(gray,.2);
        color: white;
        text-decoration: none;
        padding: 1em;
        margin-bottom: .5em;
    }
    &-buttonBack{
        background: $mainRed;
        color: white;
        text-decoration: none;
        padding:1em;
        display:block;
    }
    &-num{
        position: absolute;
        top: 3em;
        background: #d32f2f;
        color: white;
        padding: .5em;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: .5em;
        font-size: .7em;
    }
}