.ModuleFollow{
  &-items{
  }
  &-bottom{
    text-align:right;
  }
  &-actionsText{
    
    color: $textBlueFont;
    font-size: .9em;
    font-weight: 400;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    animation: all 1s;
    &:hover{
      text-decoration: underline;
    }
  }
}