.pagination{
    margin-bottom: 1em;
    .next_page,
    .previous_page{
        padding: .7em 1em;
        color: white;
        background: $mainRed;
    }
    .disabled{
      background: gray;
    }
    .current{
      padding: .7em 1em;
      color: white;
      background: $mainRed;
    }
    a{
      padding: .7em 1em;
      color: white;
      background: $secondaryRed;
      text-decoration: none
    }
}