.PosterPeople{
  width: 100px;
  height: 100%;
  display: block;
  overflow: hidden;
  margin-left: .5em;
  text-decoration: none;
  &-imageC{
    height: 150px;
  }
  &-authorImg{
    width: 100%;
  }
  &-title{
    margin-top: .5em;
  }
  &-name{
    margin: 0;
    padding: 0;
    font-size: .8em;
    text-align: center;
    font-weight: 400;
  }
  &-subtitle{
    
    margin: 0;
    padding: 0;
    font-size: .75em;
    font-weight: 300;
    text-align: center;
  }

}