.ProfileTab{
    padding: 1em;
    text-align: center;
    &-list{
        margin:0;
        padding: 0;
    }
    &-element{
        display: inline-block;
        margin-right: 1em;
    }
    &-linkE{
        color: #AAA;
        font-weight: 300;
        font-size: 1.2em;
        text-decoration: none;
        &:hover{
            color: white;
        }
    }
    &--linkActive{
        color: white;
    }
}