.ProfileCover{
    display:flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
    &-top{
        text-align: center;
    }
    &-userImg{
        width: 50px;
        heigth: 100%;
        border-radius:50%;
    }
    &-name{
        color: white;
        font-weight: 300;
        font-size: 1.7em;
        margin:0;
        text-shadow: 1px 1px 1px black;
    }
    &-infoUser{
        display: flex;
        color: white;
    }
    &-textUser{
        color: white;
        margin: .5em 1em .5em 0;
        font-size: .8em;
        text-shadow: 1px 1px 1px black;
    }
    &-bottom{
        display:flex;
        flex-direction: column;
        text-align:center;
        bottom: 0;
    }
    &-dataFollow{
        display:flex;
        flex-direction: column;
    }
    &-textInfo{
        color :white;
        text-decoration: none;
        font-weight: 300;
        text-transform: uppercase;
        font-size: .8em;
    }
    &-cButton{
        display:flex;
    }
}