.SidebarLeft{
    &-sMenu{
        padding: 0;
    }
    &-sElement{
        list-style: none;
        margin: .5em 0;
        border-bottom: 1px solid rgba(#959595, 0.5);
        padding-bottom: .5em;
        font-weight: 500;

    }
    &-linkSection{
        text-transform: uppercase;
        text-decoration: none;
        color: #959595;
        font-size: .85em;
        transition: .5s all;
        &:hover{
            color: black;
        }

    }
    &--active{
        color: $mainRed;
    }
    &-eMenu{
        padding:0;
    }
    &-eElement{
        list-style: none;
        margin: 1em 0 ;
        font-weight: 500;
    }
    &-linkExternal{
        text-transform: uppercase;
        font-size: .85em;
        color: black;
        text-decoration: none;
        i{
            color: $mainRed;
        }
        &:hover{
            color: $mainRed;
        }
    }
}