.SlidePeoples{
    margin: 1em 0;
    &-content{
        display: flex;
        justify-content: space-between;
    }
    &-authorImg{
        width: 100px;
        height: 150px;
    }
    &-content{
        width: 100%;
        height: 150px;
        ul{
            li{
                float: left;
                display:inline-block;
            }
        }
    }
}