.Widget{
  &-top{
    border-bottom: 1px solid rgba(gray,0.3);
    padding: 1em;
    display:flex;
    justify-content: space-between;
  }
  &-title{
    margin: 0;
    font-size: 1em;
    font-weight: 400;
    color: $textFont;
  }
  &-iconAction{
    color: $textFont;
  }
  &-content{
    padding: 1em;

  }
}