<%= form_for [:dashboard , @title] do |f| %>
  <% if @title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@title.errors.count, "error") %> prohibited this title from being saved:</h2>

      <ul>
      <% @title.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :type %><br>
    <%= f.collection_select :type_id, Type.all, :id, :name, {prompt: "Selecciona un tipo"} , {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :overview %><br>
    <%= f.text_area :overview, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :poster %><br>
    <%= f.text_field :poster, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :tagline %><br>
    <%= f.text_field :tagline, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :trailer %><br>
    <%= f.text_field :trailer, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :imbd_id %><br>
    <%= f.text_field :imbd_id, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :tmbd_id %><br>
    <%= f.text_field :tmbd_id, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :vote_average %><br>
    <%= f.text_field :vote_average, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :release_date %><br>
    <%= f.text_field :release_date, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :background %><br>
    <%= f.text_field :background, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :runtime %><br>
    <%= f.text_field :runtime, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :status %><br>
    <%= f.text_field :status, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :budget %><br>
    <%= f.text_field :budget, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :revenue %><br>
    <%= f.text_field :revenue, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :backdrop %><br>
    <%= f.text_field :backdrop, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :country %><br>
    <%= f.text_field :country, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :website %><br>
    <%= f.text_field :website, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
