<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Nuevo titulo
            </h1>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
         <%= render 'form' %>
      </div>  
    </div>
      <%= link_to 'Regresar', dashboard_titles_path %>
</div>
</div>
