<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Titulos
            </h1>
        </div>
    </div>       
    <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
                Películas
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <%= link_to new_dashboard_title_path, class: "btn btn-primary btn-lg" do %>
                       <i class="fa fa-plus"></i> Crear Titulo</a>
                    <% end %>
                    
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Poster</th>
                                <th>Tipo</th>
                                <th>Titulo</th>
                                <th>Fecha de lanzamiento</th>
                                <th>Fecha de creación</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @titles.each do |title| %>
                              <tr>
                                  <td><%= image_tag title.poster, class: "poster-medium" %></td>
                                  <td><%= title.type.name %></td>
                                  <td><%= link_to title.title, movie_path(title) %></td>
                                  <td><%= title.release_date %> </td>
                                  <td><%= title.created_at %></td>
                                  <td>
                                    <%= link_to edit_dashboard_title_path(title), class: "btn-primary btn" do %>
                                        <i class="fa fa-edit "></i> Editar
                                    <% end %>
                                    <%= link_to dashboard_title_path(title), method: :delete, data: { confirm: 'Estas seguro?' }, class: "btn btn-danger" do %>
                                        <i class="fa fa-pencil"></i> Borrar</button>
                                    <% end %>
                                  </td>
                              </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <%= will_paginate @titles %>
                </div>
            </div>
        </div>
    </div>
    <!-- /. ROW  -->
    <footer><p>All right reserved. </footer>