<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>TvisoRoR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700|Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <%= render 'partials/header' %>
  <%= yield %>
  <%= render 'partials/footer' %>
</body>
</html>
